header {
    text-align: center;
    font-size: 30px;
    color: #ebedef;
  }
  
  main, html {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A0A0A;
  }
  
  .container {
    text-align: center;
    color: #FFFFF8;
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    border: none;
    background-color: #950595;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #622962;
    color: #f9f904;
  }
  